.top-container{
  text-align: center;
  color: #2a4b6f;
}
body {
  background-color: #fbe3e8;
  font-family: serif Sans-Serif helvetica;
  font-size: 20px;
}
#first-paragraph{
  padding: 10px;
}
.img-section{
  text-align: center;
  padding: 10px;
  border: 2px solid #3B6392;
  border-radius: 10px 15px;
  background-color: #D3DBE3;
}
img{
  border-radius: 100px;
  max-width: 100px;
  height: 250px;
  width: 290px;
}
#second-paragraph{
  border: 2px solid #638CB7;
  border-radius: 50px;
  color: #3B6392;
}
 .heading {
  font-family: 'Noto Sans jp',serif;
  text-align: center;
  font-size: 50px;
  color: #638CB7;
}
.overall-content{
  padding: 20px;
  background-color: white;
}

li{
  color: #3B6392;
  font-size: 30px;
  font-weight: 30px;
}
#lastParagraph{
  border: 2px solid;
  border-radius: 10px 20px ;
  background-color: #1B2636;
  color: #D3DBE3;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  
}

@media max-width 1200px{
  font-size: 50px;
  width: 100%;
}
